fastapi
uvicorn[standard]
insightface
onnxruntime
numpy
opencv-python
faiss-cpu
hdbscan
streamlit
Pillow
tokenizers
requests
watchdog
pydantic
pytest
httpx
tqdm
scipy
torch
torchvision
transformers
moviepy
imageio-ffmpeg
scenedetect[opencv]
